*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 16, 16);
    padding: 20px;
}

/* Search form styles */
form{
    text-align: center;
}

#input{
    width: 100%;
    max-width: 570px;
    height: 45px;
    display: block;
    margin: 20px auto 15px auto;
    padding: 10px;
    outline: none;
    font-size: 20px;
}

#submit{
    padding: 12px 30px;
    border: none;
    background-color: rgb(82, 82, 238);
    color: rgb(255, 255, 255);
}

/* Main section design */
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px 50px;
    gap: 10px;
}

#main > div{
    background-color: orange;
    width: 24%;
    height: 50%;
}